<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inicio</title>
</head>
<body>
	<form th:action="@{guardar}" th:object="${cliente}" method="post">
		<input type="hidden" id="id" name="id" th:value="*{id}">
		<div>
		<label for="documento">No. Documento</label>
			<div>
				<input type="text" id="documento" th:field="*{documento}">
			</div> 
		</div>
		
		<div>
		<label for="nombre">Nombre</label>
			<div>
				<input type="text" id="nombre" th:field="*{nombre}">
			</div> 
		</div>
		<div>
		<label for="apellido">Apellido</label>
			<div>
				<input type="text" id="apellido" th:field="*{apellido}">
			</div> 
		</div>
		
		<div>
		<label for="telefono">Telefono</label>
			<div>
				<input type="text" id="telefono" th:field="*{telefono}">
			</div> 
		</div>
		
		<div>
		<label for="email">Email</label>
			<div>
				<input type="email" id="email" th:field="*{email}">
			</div> 
		</div>
		
		<div>
		<label for="fechaNacimiento">Fecha nacimiento</label>
			<div>
				<input type="date" id="fechaNacimiento" th:field="*{fechaNacimiento}">
			</div> 
		</div>
		
		
		<div>
			<div>
				<input type="submit" value="Guardar">
			</div>
		</div>
		
	</form>
</body>
</html>