<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista clientes</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Documento</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Telefono</th>
				<th>Correo</th>
				<th>edad</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cliente: ${clientes}">
				<td th:text="${cliente.id}"></td>
				<td th:text="${cliente.documento}"></td>
				<td th:text="${cliente.nombre}"></td>
				<td th:text="${cliente.apellido}"></td>
				<td th:text="${cliente.telefono}"></td>
				<td th:text="${cliente.email}"></td>
				<td th:text="${cliente.edad}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>